<div class="top_page_background">
    <div class="top_page_contents">
        <div class="top_page_nav_n_title">
            <div class="top_page_nav">
                <button class="top_page_nav_button" id="nav_button">
                    <i class="fas fa-bars"><span></span></i>
                </button>
                <div class="top_page_nav_div" id="nav_button2">
                    <ul class="top_page_nav_ul">
                        <li class="top_page_nav_li"><a href="#">ログアウト</a></li>
                        <!--↑delete　を使うからlink toに書き換える必要があるかも-->
                        <li class="top_page_nav_li"><a href="#">中国語</a></li>
                        <li class="top_page_nav_li"><a href="#">English</a></li>
                    </ul>
                </div>
            </div>
            <div class="top_page_title">
                <p>ご来店ありがとうございます！</p>
            </div>
        </div>
        <div class="top_page_menu">
            <div class="top_page_menu_upper clearfix">
                <ul>
                    <li class="top_page_menu_indiv">
                        <a href="/order/recommend_menu">
                            <p>おすすめ</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/order/alacarte_menu">
                            <p>一品料理</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/order/noodle_menu">
                            <p>麺類</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/order/set_menu">
                            <p>セット</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="top_page_menu_lower clearfix">
                <ul>
                    <li class="top_page_menu_indiv">
                        <a href="/order/search">
                            <p>検索</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/order/dessert_menu">
                            <p class="second">デザート<br>
                            スープ</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/order/rice_menu">
                            <p class="second">ご飯<br>
                            定食</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/order/drink_menu">
                            <p class="second">ドリンク<br>
                            アルコール</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--$(function(){-->
<!--	$("#nav_button").click(function(){-->
<!--		$("#nav_button2").slideToggle();-->
<!--	});-->
<!--});-->
<!--</script>-->